.limitedRange{
    height: 100vh;
    // background-color: #F4F1EA;
    .quotes{
        width: 5.5%;
        background-color: #398145;
        border-radius: 50%;
    }
    .stars{
        .fa-star{
            color: #f1af2b;
            font-size: 13px;
        }
    }
}