.login-input{
    position: relative;
}
.login{
    .eye{
        position: absolute;
        right: 30%;
        top: 67.4%;
        cursor: pointer;
    }
}
.register{
    .eye{
        position: absolute;
        right: 30%;
        bottom: 0.7%;
        cursor: pointer;
    }
}
.confirm{
    .eye{
        position: absolute;
        right: 30%;
        top: 109.4%;
        cursor: pointer;
    }
}